version: "3.9"

services:
  db:
    image: mariadb:10.7
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 123456789
      MYSQL_DATABASE: subhan
    ports:
      - "3306:3306"
    command: --skip-host-cache --skip-name-resolve
    volumes:
      - mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: 123456789
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  mariadb_data:
